.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.word-cloud {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

svg {
  transform: scale(1.5);
  position: relative;
  top: 0px;
  left: -100px;
}

svg:hover {
  cursor: pointer;
}

svg:active {
  transform: scale(2);
  position: fixed;
  background: rgba(34, 34, 34, 1);
  top: 220px;
  left: 420px;
}
